@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.box {
  background-color: white;
  padding: 2.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.frame {
  display: flex;
  gap: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 25px;
}
.hrs,
.min,
.sec,
.ms,
.colon {
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}
.colon {
  width: 10px;
  height: 50px;
}
.buttons {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
.buttons button {
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  background: whitesmoke;
}

.start,
.stop,
.reset {
  background-color: white;
}
.start:hover,
.stop:hover,
.reset:hover {
  background-color: var(--primary);
  color: white;
}

.start-active,
.stop-active {
  pointer-events: none;
  opacity: 0.5;
}
