@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Questrial", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 10px 0;
}
a {
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  text-decoration: underline;
}
