@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}
* {
  font-family: "Questrial", sans-serif;
}

body {
  background-color: #f4f4f4;
  padding: 20px;
}

h3 {
  text-align: center;
  font-size: 20px;
  color: var(--primary);
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-width: 0.1px !important;
  outline-color: var(--primary);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBookmarkBtn {
  background-color: var(--primary);
  color: white;
}

#bookmarkContainerLists {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.list span a {
  text-decoration: none;
  color: var(--primary);
}

.remove-btn {
  background-color: red;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-bottom: 20px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #797979ff transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #797979ff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #797979ff;
}
