@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.bmi-container {
  background: white;
  padding: 40px 40px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin-bottom: 20px;
  color: var(--primary);
  font-weight: 800;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #105df0;
}

.result {
  margin-top: 20px;
}
