@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}

* {
  font-family: "Questrial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  margin: 0px;
  background-color: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 200px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

section div {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

#hrs,
#min,
#sec {
  color: #000;
}

#peroid {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
  text-transform: uppercase;
}

/* 🔹 Responsive */
@media (max-width: 600px) {
  section div {
    font-size: 2.2rem;
    padding: 15px 25px;
  }

  h3 {
    font-size: 1.4rem;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #797979ff transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #797979ff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #797979ff;
}
