@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}

* {
  font-family: "Questrial", sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h3 {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
  color: var(--primary);
}

section {
  background: #222;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
  width: 320px;
}

section div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 2;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: right;
  margin: 10px 0;
  font-family: "Courier New", monospace;
  white-space: nowrap;
  font-weight: 800;
}

.expersion {
}

.answer {
  font-size: 1.2em;
  font-weight: bold;
  color: #28a745;
}

button {
  font-size: 20px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #444;
  transform: scale(1.05);
}

button:nth-child(1) {
  background: #ff4d4d;
}
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(20) {
  background: #ff9500;
}

button:nth-child(20) {
  background: #28a745;
  grid-column: span 1;
}

button:nth-child(17) {
  visibility: hidden;
}

@media (max-width: 400px) {
  section {
    width: 90%;
  }
  button {
    font-size: 18px;
    padding: 15px;
  }
}
