@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  color: var(--primary);
  font-size: 23px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

#container img {
  border-radius: 10px;
  width: 600px;
  animation: slideLeft 2s;
}

#container button {
  border: 1px solid #d0d0d0ff;
  border-radius: 100%;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-contnet: center;
}

#container button:hover {
  transform: scale(1.1);
}

@keyframes slideLeft {
  from {
    transform: translateX(-5);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  #container img {
    width: 300px;
  }
  #rightBtn,
  #leftBtn {
    width: 30px !important;
    color: gray;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #797979ff transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #797979ff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #797979ff;
}
