@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #155dfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif !important;
}

body {
  background-color: whitesomke;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.faq-container {
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 35px;
}

h2 {
  color: var(--primary);
}

.faq-item {
  border-bottom: 1px solid #eee;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 24px;
  transition: transform 0.3s;
}

.faq-item.active .faq-question::after {
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer p {
  padding: 10px 0;
  color: #555;
}
