@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Questrial", sans-serif !important;
}

.note {
  width: 200px;
  min-height: 150px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fef68a;
  position: relative;
}
.delete-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #797979ff transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #797979ff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #797979ff;
}
